*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  background: linear-gradient(to bottom, #076585, #fff);
}

.content {
  min-height: 100vh;
}

.first-page {
  opacity: 0.8;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
  background-image: url(csr.jpeg);
  background-position: 85% 50%;
}

.mp-header{
  text-align: center;
  font-size: 50px;
  color: #ff8b00;
  text-shadow: 1px 1px 2px black;
}

.word-inv {
  opacity: 0;
}

.word-v {
  opacity: 1;
  transition: 1700ms;
}
